a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: inherit;
    text-decoration: underline;
}
td:not(:nth-child(0)) {
    vertical-align: middle;
}
.edit_data{
    color: white;
}
