{% extends 'templateForm.html.twig' %}

{% block title %}Tabela Zawodnik{% endblock %}

{% block header %}
    <h2>Rejestracja</h2>
{% endblock %}

{% block form %}

    <form id="signupForm" action="{{ url }}uzytkownik/zarejestruj" method="POST">

        <div class="form-group">
          <label for="login">Login</label>
          <input type="text" class="form-control" id="login" name="login" maxlength="50">
        </div>
        <div class="form-group">
          <label for="haslo">Hasło</label>
          <input type="password" class="form-control" id="haslo" name="haslo" maxlength="50">
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="text" class="form-control" id="email" name="email" maxlength="50">
        </div>

      <button type="submit" class="btn btn-info">Zarejestruj</button>

</form>

{% endblock %}
